body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
/*header style*/
header{
	background-color:  #300f0f;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2, a{
	font-family: 'Press Start 2P', cursive;
}
header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid #900C3F;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 20px;
	color: #900C3F;
	margin: 40px 0 10px ;
}

a {
	background-color:  #300f0f;
	border: none;
	color: blueviolet;
	padding: 15px 14px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	border-radius: 40%;
	transition-duration: 0,1;
	box-shadow: ;
}

a:hover {
	background-color: lightgrey;
	color: darkgrey;
}

footer{
	background-color:  #300f0f;
	color: whitesmoke;
	padding: 20px;
	text-align: center;
}

p.caption{
	color:#999999;
	font-style: italic;
	font-size: 15px;
}